<launch>

  <arg name="uav_name" default="uav" />


    <arg name="gui" default="true" />

    <node name="balloon_color_picker" pkg="balloon_color_picker" type="color.py" output="screen">


      <!-- Subscribed topics -->
      <remap from="image_topic" to="/uav/rs_d435/color/image_raw" />
      <!-- <remap from="image_topic" to="/mv_26805883/image_raw" /> -->
      <!-- Published topics -->
      <remap from="circle_topic" to="~circled" />
      <remap from="circle_hsv" to="~circled_hsv" />
      <remap from="circle_lab" to="~circled_lab" />
      <!-- Params -->
      <param name='save_dir' value='$(find balloon_color_picker)/'/>
      <param name='config_path' value='$(find balloon_color_picker)/balloon_config.yaml'/>


    </node>
    <!-- Gui Node -->
    <node name="balloon_color_picker_gui" pkg="balloon_color_picker" type="plugin.py" output="screen">
    </node>
    

</launch>
